<div class="col-4 ml-md-auto dataset-card" id="nearest earth objects">

    <a href="nearest_earth_objects/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/asteroid-icon.png"
         alt="Nearest Earth Objects" class="img-thumbnail m-2">

    </a>

    <a href="nearest_earth_objects/" class="dataset-link">
    <h3>Nearest Earth Objects</h3>
    </a>

    <p>
        Details of Asteroids NASA classified as "Nearest Earth Objects"
        <a href="nearest_earth_objects/" class="dataset-link"><em>View</em></a>
    </p>

    <small>Asteroids, Space, Collisions</small>

    <script>
    searcher.add(
        {
            'name': "nearest_earth_objects",
            'body': "Details of Asteroids NASA classified as \"Nearest Earth Objects\"",
            'description': "'There are many dangerous bodies in space",
            'tags': ["Asteroids", " Space", " Collisions"]
        }
    );
    </script>



</div>